/* code to copy */

/* ************ CSS shorthand ***************
Note difference in declaring margin and padding values for body and h1.
2 values: [padding top and bottom] [padding right and left]
4 values: [top] [right] [bottom] [left]

By setting the right and left values to auto in the body margin,
the body will be centered on the page

*/

body {
  margin: 30px auto;
  width: 85%;
  max-width: 600px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;

}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
h1 {
  padding: 20px 0px 10px 0px;
}

/* This changes color and removes default underline in links  */
a {
color: red;
text-decoration: none;
}
b {
color: red;
text-decoration: none;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
  width: 100%;
}
h2 {
  padding: 10px 0px 5px 0px;
}
